<ion-header>
  <ion-toolbar>
    <ion-title>Order Complete</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="order-box ion-text-center">
    <p>Thankyou</p>
    <h2>We Received Your Order</h2>
    <p>Order # 3423445</p>
  </ion-card>
  <p class="order-text">Do you want to cancel your order? <ion-text color="danger">Cancel</ion-text></p>
  <h2 class="order-heading">Order Details</h2>
  <ion-card>
    <ion-card-content>
      <p><ion-text slot="start">1x</ion-text> Lorem ipsum dolor sit amet<span>Rs 70</span></p>
      <p><ion-text slot="start">1x</ion-text> Lorem ipsum dolor sit amet<span>Rs 70</span></p>
      <p><ion-text slot="start">1x</ion-text> Lorem ipsum dolor sit amet<span>Rs 70</span></p>
      <p><ion-text slot="start">1x</ion-text> Lorem ipsum dolor sit amet<span>Rs 70</span></p>
      <h5>Subtotal <span>Rs 300</span></h5>
      <h5>Shipping <span>Rs 40</span></h5>
      <h5>Tax <span>Rs 20</span></h5>
      <h4>Total Payment <span>Rs 370</span></h4>
      <p>Booking Date <span>Feb 26, 2022</span></p>
      <p>Booking TIme <span>14:30</span></p>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" color="hapsterlight" routerLink="/home" routerDirection="forward">Back to home</ion-button>
  </ion-toolbar>
</ion-footer>