<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Add new address</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="stacked">Address Line</ion-label>
    <ion-input type="text" value="{{addressDetails.street }}" class="form-control"
    id="street"
    required
    [(ngModel)]="customer.street"
    name="street"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Address Line 2</ion-label>
    <ion-input type="text" value="{{addressDetails.street }}" class="form-control"
    id="street"
    required
    [(ngModel)]="customer.street"
    name="street"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Country</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">State</ion-label>
    <ion-input type="text" class="form-control"
    id="state"
    required
    [(ngModel)]="customer.state"
    name="state" value="{{ profileDetails.state }}"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">City</ion-label>
    <ion-input type="text" class="form-control"
    id="city"
    required
    [(ngModel)]="customer.city"
    name="city"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Pin Code</ion-label>
    <ion-input type="text" class="form-control"
    id="pincode"
    required
    [(ngModel)]="customer.pincode"
    name="pincode"></ion-input>
  </ion-item>
  <ion-item class="select-box">
    <ion-label>Save Address As</ion-label>
    <ion-select value="notifications" interface="action-sheet">
      <ion-select-option value="home">Home</ion-select-option>
      <ion-select-option value="office">Office</ion-select-option>
      <ion-select-option value="other">Other</ion-select-option>
    </ion-select>
  </ion-item>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" color="hapster" (click)="editAddress()" >Update Details</ion-button>
  </ion-toolbar>
</ion-footer>
