<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Set Up Garage Sale</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/notification" routerDirection="forward">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bell"><path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9"></path><path d="M13.73 21a2 2 0 0 1-3.46 0"></path></svg>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="stacked">Garage Sale Name</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
  <h4>Location Information</h4>
  <ion-item>
    <ion-label position="stacked">Address Line</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Address Line 2</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Country</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">State</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">City</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Pin Code</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
  <h4>Contact Information</h4>
  <ion-item>
    <ion-label position="stacked">Email</ion-label>
    <ion-input type="email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Contact No</ion-label>
    <ion-input type="tel"></ion-input>
  </ion-item>
  <h4>Sale Information</h4>
  <ion-item class="datetime" (click)="showStartDate = !showStartDate">
    <ion-label>Sale Start Date</ion-label>
    <ion-text slot="end">{{formattedStartDate}}</ion-text>
    <ion-icon slot="start" name="calendar-outline"></ion-icon>
  </ion-item>
  <ion-datetime #datetime presentation="datetime" *ngIf="showStartDate" [value]="startDataValue" (ionChange)="startDateChanged(datetime.value)" showDefaultButtons="true" (ionCancel)="showStartDate = false;"></ion-datetime>

  <ion-item class="datetime" (click)="showEndDate = !showEndDate">
    <ion-label>Sale End Date</ion-label>
    <ion-text slot="end">{{formattedEndDate}}</ion-text>
    <ion-icon slot="start" name="calendar-outline"></ion-icon>
  </ion-item>
  <ion-datetime #datetime presentation="datetime" *ngIf="showEndDate" [value]="endDateValue" (ionChange)="endDateChanged(datetime.value)" showDefaultButtons="true" (ionCancel)="showEndDate = false;"></ion-datetime>

  <ion-item class="datetime">
    <ion-icon slot="start" name="wallet-outline"></ion-icon>
    <ion-label>Payment Mode</ion-label>
    <ion-select multiple="true" interface="action-sheet">
      <ion-select-option value="cash">Cash</ion-select-option>
      <ion-select-option value="credit-card">Credit Card</ion-select-option>
      <ion-select-option value="rezorpay">Razorpay</ion-select-option>
      <ion-select-option value="stripe">Stripe</ion-select-option>
      <ion-select-option value="phonepe">PhonePe</ion-select-option>
      <ion-select-option value="google-pay">Google Pay</ion-select-option>
    </ion-select>
  </ion-item>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" color="hapster" routerLink="/garagelisting" routerDirection="forward">Create Store</ion-button>
  </ion-toolbar>
</ion-footer>
