<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col class="second-col">
          <a routerLink="/home" routerDirection="back"><ion-img src="../../assets/icon/arrow.png"></ion-img></a>
          <ion-text><h4>Tina's Garage Sale</h4></ion-text>
        </ion-col>
        <ion-col class="third-col">
          <a routerLink="/notification" routerDirection="forward">
            <ion-img src="assets/icon/menu7.png"></ion-img>
          </a>
          <a routerLink="/profile" routerDirection="forward">
            <ion-img src="../../assets/icon/profile.png"></ion-img>
          </a>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="user-info">
    <ion-row>
      <ion-col class="user-profile-col1">
        <ion-img src="../../../assets/images/profile-picture.jpg"></ion-img>
      </ion-col>
      <ion-col class="user-profile-col2">
        <ion-list lines="none">
          <ion-item>
            <h4>Name : Johnny Doe</h4>
          </ion-item>
          <ion-item>
            <h4>Location : J32A cabra hill, Hydrabad</h4>
          </ion-item>
          <ion-item>
            <h4>Email : Dummy@gmail.com</h4>
          </ion-item>
          <ion-item>
            <h4>Ph No : 9876543210</h4>
          </ion-item>
          <ion-item>
            <h4>Payment Info : 456DF556a</h4>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col class="user-profile-col3">
        <ion-img src="../../../assets/icon/icon12.png"></ion-img>
        <ion-img src="../../../assets/icon/icon11.png"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="user-icon-grid">
    <ion-row>
      <ion-col>
        <ion-img src="../../../assets/icon/icon8.png"></ion-img>
        <ion-text><h5>Mon - Fri 9am -3pm</h5></ion-text>
      </ion-col>
      <ion-col>
        <ion-img src="../../../assets/icon/icon9.png"></ion-img>
        <ion-text><h5>Mon - Fri 9am -3pm</h5></ion-text>
      </ion-col>
      <ion-col>
        <ion-img src="../../../assets/icon/icon10.png"></ion-img>
        <ion-text><h5>Delivery
          Excluded</h5></ion-text>
      </ion-col>
      <ion-col>
        <ion-img src="../../../assets/icon/icon13.png"></ion-img>
        <ion-text><h5>Check Distance</h5></ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-buttons>+</ion-buttons>
</ion-content>
