<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
  	</ion-buttons>
    <ion-title>Chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <ion-img src="https://ui-avatars.com/api/?name=Roy+Store"></ion-img>
      </ion-avatar>
      <ion-label>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
        <ion-text>06:00</ion-text>
      </ion-label>
    </ion-item>

    <ion-item class="user">
      <ion-avatar slot="end">
        <ion-img src="https://ui-avatars.com/api/?name=Roy+Store"></ion-img>
      </ion-avatar>
      <ion-label>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
        <ion-text>06:00</ion-text>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-item>
    <ion-textarea></ion-textarea>
    <ion-button slot="end" color="hapster">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-send"><line x1="22" y1="2" x2="11" y2="13"></line><polygon points="22 2 15 22 11 13 2 9 22 2"></polygon></svg>
    </ion-button>
  </ion-item>
</ion-footer>
