<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Bargain Table</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="product-info">
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-img src="assets/images/bot1.jpg"></ion-img>
      </ion-thumbnail>
      <ion-label>
        <h4>Maroon Western Dress</h4>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
        <h5>Your Price <span>Rs 350</span></h5>
      </ion-label>
    </ion-item>
  </ion-card>
  <ion-list>
    <ion-item>
      <ion-checkbox slot="start" color="hapster"></ion-checkbox>
      <ion-label>
        <h4>Rohan Singh</h4>
        <h5>Quote - Rs 299</h5>
      </ion-label>
      <ion-text slot="end">4 km</ion-text>
    </ion-item>
    <ion-item>
      <ion-checkbox slot="start" color="hapster"></ion-checkbox>
      <ion-label>
        <h4>Rohan Singh</h4>
        <h5>Quote - Rs 299</h5>
      </ion-label>
      <ion-text slot="end">4 km</ion-text>
    </ion-item>
    <ion-item>
      <ion-checkbox slot="start" color="hapster"></ion-checkbox>
      <ion-label>
        <h4>Rohan Singh</h4>
        <h5>Quote - Rs 299</h5>
      </ion-label>
      <ion-text slot="end">4 km</ion-text>
    </ion-item>
    <ion-item>
      <ion-checkbox slot="start" color="hapster"></ion-checkbox>
      <ion-label>
        <h4>Rohan Singh</h4>
        <h5>Quote - Rs 299</h5>
      </ion-label>
      <ion-text slot="end">4 km</ion-text>
    </ion-item>
    <ion-item>
      <ion-checkbox slot="start" color="hapster"></ion-checkbox>
      <ion-label>
        <h4>Rohan Singh</h4>
        <h5>Quote - Rs 299</h5>
      </ion-label>
      <ion-text slot="end">4 km</ion-text>
    </ion-item>
  </ion-list>

  <ion-card class="send-note">
    <ion-item>
      <ion-avatar slot="start">
        <ion-img src="assets/images/bell.png"></ion-img>
      </ion-avatar>
      <ion-label>
        Iusto expedita sint nisi voluptas veritatis illum nobis maxime cum sit.
      </ion-label>
    </ion-item>
  </ion-card>
</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" color="hapster">Send Request</ion-button>
  </ion-toolbar>
</ion-footer>