
<ion-header parallax imageUrl="assets/images/banner6.jpg" height="200">
  <ion-toolbar color="hapster">
    <ion-buttons slot="start">
  		<ion-back-button></ion-back-button>
  	</ion-buttons>
    <ion-title>Store Order</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="chatbubble-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="share-social-outline"></ion-icon>
      </ion-button>
      <ion-button routerLink="/cart" routerDirection="forward">
        <ion-img src="../../assets/icon/profile.png"></ion-img>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="name-card">
    <ion-item>
      <ion-label>
        <h4>Hapstore Boutique</h4>
        <h5>Beauty & Style</h5>
        <p>EP Block, Sector V, Bidhannagar, Kolkata, West Bengal 700091</p>
        <p>1.2 miles</p>
      </ion-label>
      <div slot="end">
        <div class="rating">
          <div class="count">
            <ion-icon name="star"></ion-icon> <span>4.5</span>
          </div>
          <div class="count-text">
            100<br/>Reviews
          </div>
        </div>
      </div>
    </ion-item>
  </ion-card>

  <ion-slides [options]="slideOpts">
    <ion-slide>
      <img src="assets/images/foodb1.png">
    </ion-slide>
    <ion-slide>
      <img src="assets/images/foodb2.png">
    </ion-slide>
    <ion-slide>
      <img src="assets/images/foodb3.png">
    </ion-slide>
  </ion-slides>

  <ion-segment scrollable="true" color="hapster" [(ngModel)]="type" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="products">Our Products</ion-segment-button>
    <ion-segment-button value="reviews">Reviews</ion-segment-button>
    <ion-segment-button value="about">About</ion-segment-button>
    <ion-segment-button value="payment">Payment Policy</ion-segment-button>
    <ion-segment-button value="return">Return policy</ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="type">
    <div class="product-area" *ngSwitchCase="'products'">
      <ion-accordion-group value="handicrafted">
        <ion-accordion value="handicrafted">
          <ion-item slot="header">
            <ion-label>Handicrafted</ion-label>
          </ion-item>

          <ion-list class="store-list" slot="content">
            <ion-item>
              <ion-label>
                <h4>Lorem ipsum dolor sit amet</h4>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                <div class="product-meta">
                  <span class="qty-btn">
                    <ion-icon name="remove" (click)="decrement()"></ion-icon>
                    <input type="text" value="{{currentNumber}}">
                    <ion-icon name="add" (click)="increment()"></ion-icon>
                  </span>
                  <h5>Rs 899/-</h5>
                </div>
              </ion-label>
              <ion-thumbnail slot="end">
                <ion-img src="assets/images/food1.jpg"></ion-img>
              </ion-thumbnail>
            </ion-item>
            <ion-item>
              <ion-label>
                <h4>Lorem ipsum dolor sit amet</h4>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                <div class="product-meta">
                  <span class="qty-btn">
                    <ion-icon name="remove" (click)="decrement()"></ion-icon>
                    <input type="text" value="{{currentNumber}}">
                    <ion-icon name="add" (click)="increment()"></ion-icon>
                  </span>
                  <h5>Rs 899/-</h5>
                </div>
              </ion-label>
              <ion-thumbnail slot="end">
                <ion-img src="assets/images/food2.jpg"></ion-img>
              </ion-thumbnail>
            </ion-item>
            <ion-item>
              <ion-label>
                <h4>Lorem ipsum dolor sit amet</h4>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                <div class="product-meta">
                  <span class="qty-btn">
                    <ion-icon name="remove" (click)="decrement()"></ion-icon>
                    <input type="text" value="{{currentNumber}}">
                    <ion-icon name="add" (click)="increment()"></ion-icon>
                  </span>
                  <h5>Rs 899/-</h5>
                </div>
              </ion-label>
              <ion-thumbnail slot="end">
                <ion-img src="assets/images/food3.jpg"></ion-img>
              </ion-thumbnail>
            </ion-item>
          </ion-list>
        </ion-accordion>

        <ion-accordion>
          <ion-item slot="header">
            <ion-label>Hand Made</ion-label>
          </ion-item>
          <ion-list class="store-list" slot="content">
            <ion-item>
              <ion-label>
                <h4>Lorem ipsum dolor sit amet</h4>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                <div class="product-meta">
                  <span class="qty-btn">
                    <ion-icon name="remove" (click)="decrement()"></ion-icon>
                    <input type="text" value="{{currentNumber}}">
                    <ion-icon name="add" (click)="increment()"></ion-icon>
                  </span>
                  <h5>Rs 899/-</h5>
                </div>
              </ion-label>
              <ion-thumbnail slot="end">
                <ion-img src="assets/images/food2.jpg"></ion-img>
              </ion-thumbnail>
            </ion-item>
            <ion-item>
              <ion-label>
                <h4>Lorem ipsum dolor sit amet</h4>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                <div class="product-meta">
                  <span class="qty-btn">
                    <ion-icon name="remove" (click)="decrement()"></ion-icon>
                    <input type="text" value="{{currentNumber}}">
                    <ion-icon name="add" (click)="increment()"></ion-icon>
                  </span>
                  <h5>Rs 899/-</h5>
                </div>
              </ion-label>
              <ion-thumbnail slot="end">
                <ion-img src="assets/images/food3.jpg"></ion-img>
              </ion-thumbnail>
            </ion-item>
            <ion-item>
              <ion-label>
                <h4>Lorem ipsum dolor sit amet</h4>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                <div class="product-meta">
                  <span class="qty-btn">
                    <ion-icon name="remove" (click)="decrement()"></ion-icon>
                    <input type="text" value="{{currentNumber}}">
                    <ion-icon name="add" (click)="increment()"></ion-icon>
                  </span>
                  <h5>Rs 899/-</h5>
                </div>
              </ion-label>
              <ion-thumbnail slot="end">
                <ion-img src="assets/images/food1.jpg"></ion-img>
              </ion-thumbnail>
            </ion-item>
          </ion-list>
        </ion-accordion>

        <ion-accordion>
          <ion-item slot="header">
            <ion-label>Crafted</ion-label>
          </ion-item>
          <ion-list class="store-list" slot="content">
            <ion-item>
              <ion-label>
                <h4>Lorem ipsum dolor sit amet</h4>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                <div class="product-meta">
                  <span class="qty-btn">
                    <ion-icon name="remove" (click)="decrement()"></ion-icon>
                    <input type="text" value="{{currentNumber}}">
                    <ion-icon name="add" (click)="increment()"></ion-icon>
                  </span>
                  <h5>Rs 899/-</h5>
                </div>
              </ion-label>
              <ion-thumbnail slot="end">
                <ion-img src="assets/images/food3.jpg"></ion-img>
              </ion-thumbnail>
            </ion-item>
            <ion-item>
              <ion-label>
                <h4>Lorem ipsum dolor sit amet</h4>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                <div class="product-meta">
                  <span class="qty-btn">
                    <ion-icon name="remove" (click)="decrement()"></ion-icon>
                    <input type="text" value="{{currentNumber}}">
                    <ion-icon name="add" (click)="increment()"></ion-icon>
                  </span>
                  <h5>Rs 899/-</h5>
                </div>
              </ion-label>
              <ion-thumbnail slot="end">
                <ion-img src="assets/images/food2.jpg"></ion-img>
              </ion-thumbnail>
            </ion-item>
            <ion-item>
              <ion-label>
                <h4>Lorem ipsum dolor sit amet</h4>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                <div class="product-meta">
                  <span class="qty-btn">
                    <ion-icon name="remove" (click)="decrement()"></ion-icon>
                    <input type="text" value="{{currentNumber}}">
                    <ion-icon name="add" (click)="increment()"></ion-icon>
                  </span>
                  <h5>Rs 899/-</h5>
                </div>
              </ion-label>
              <ion-thumbnail slot="end">
                <ion-img src="assets/images/food1.jpg"></ion-img>
              </ion-thumbnail>
            </ion-item>
          </ion-list>
        </ion-accordion>
      </ion-accordion-group>
    </div>
    <div class="list-area" *ngSwitchCase="'reviews'">
      <ion-list class="review-list">
        <ion-item>
          <ion-avatar slot="start">
            <ion-img src="https://ui-avatars.com/api/?name=John+Doe"></ion-img>
          </ion-avatar>
          <ion-note slot="end">5s ago</ion-note>
          <ion-label>
            <h4>Jhon Doe</h4>
            <p>Lorem ipsum dolor sit amet, conse ctetur adipisicing elit.</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-avatar slot="start">
            <ion-img src="https://ui-avatars.com/api/?name=John+Doe"></ion-img>
          </ion-avatar>
          <ion-note slot="end">5s ago</ion-note>
          <ion-label>
            <h4>Jhon Doe</h4>
            <p>Lorem ipsum dolor sit amet, conse ctetur adipisicing elit.</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-avatar slot="start">
            <ion-img src="https://ui-avatars.com/api/?name=John+Doe"></ion-img>
          </ion-avatar>
          <ion-note slot="end">5s ago</ion-note>
          <ion-label>
            <h4>Jhon Doe</h4>
            <p>Lorem ipsum dolor sit amet, conse ctetur adipisicing elit.</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-avatar slot="start">
            <ion-img src="https://ui-avatars.com/api/?name=John+Doe"></ion-img>
          </ion-avatar>
          <ion-note slot="end">5s ago</ion-note>
          <ion-label>
            <h4>Jhon Doe</h4>
            <p>Lorem ipsum dolor sit amet, conse ctetur adipisicing elit.</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
    <div class="list-area" *ngSwitchCase="'about'">
      <div class="content-box">
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima atque magni adipisci ab omnis tenetur quo? Provident enim, asperiores pariatur omnis nemo illum eum corporis recusandae veniam debitis et voluptatum.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima atque magni adipisci ab omnis tenetur quo? Provident enim, asperiores pariatur omnis nemo illum eum corporis recusandae veniam debitis et voluptatum.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima atque magni adipisci ab omnis tenetur quo? Provident enim, asperiores pariatur omnis nemo illum eum corporis recusandae veniam debitis et voluptatum.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima atque magni adipisci ab omnis tenetur quo? Provident enim, asperiores pariatur omnis nemo illum eum corporis recusandae veniam debitis et voluptatum.</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
    <div class="list-area" *ngSwitchCase="'payment'">
      <div class="content-box">
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima atque magni adipisci ab omnis tenetur quo? Provident enim, asperiores pariatur omnis nemo illum eum corporis recusandae veniam debitis et voluptatum.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima atque magni adipisci ab omnis tenetur quo? Provident enim, asperiores pariatur omnis nemo illum eum corporis recusandae veniam debitis et voluptatum.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima atque magni adipisci ab omnis tenetur quo? Provident enim, asperiores pariatur omnis nemo illum eum corporis recusandae veniam debitis et voluptatum.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima atque magni adipisci ab omnis tenetur quo? Provident enim, asperiores pariatur omnis nemo illum eum corporis recusandae veniam debitis et voluptatum.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima atque magni adipisci ab omnis tenetur quo? Provident enim, asperiores pariatur omnis nemo illum eum corporis recusandae veniam debitis et voluptatum.</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
    <div class="list-area" *ngSwitchCase="'return'">
      <div class="content-box">
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima atque magni adipisci ab omnis tenetur quo? Provident enim, asperiores pariatur omnis nemo illum eum corporis recusandae veniam debitis et voluptatum.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima atque magni adipisci ab omnis tenetur quo? Provident enim, asperiores pariatur omnis nemo illum eum corporis recusandae veniam debitis et voluptatum.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima atque magni adipisci ab omnis tenetur quo? Provident enim, asperiores pariatur omnis nemo illum eum corporis recusandae veniam debitis et voluptatum.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima atque magni adipisci ab omnis tenetur quo? Provident enim, asperiores pariatur omnis nemo illum eum corporis recusandae veniam debitis et voluptatum.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima atque magni adipisci ab omnis tenetur quo? Provident enim, asperiores pariatur omnis nemo illum eum corporis recusandae veniam debitis et voluptatum.</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </div>

  
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" color="hapster" routerLink="/cart" routerDirection="forward">
      <ion-text>7 items<br/><strong>Rs 4567/-</strong></ion-text> <span>View Cart <ion-icon name="arrow-forward-outline"></ion-icon></span>
    </ion-button>
  </ion-toolbar>
</ion-footer>