<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
  		<ion-back-button></ion-back-button>
  	</ion-buttons>
    <ion-title>My Favorites</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h4 class="order-heading">February 2022</h4>
  <ion-list>
    <ion-item routerLink="/details" routerDirection="forward">
      <ion-avatar slot="start">
        <ion-img src="assets/images/product8.png"></ion-img>
      </ion-avatar>
      <ion-icon slot="end" color="danger" name="heart"></ion-icon>
      <ion-label>
        <h5>Maroon Long Tops</h5>
        <p class="order-status"><span>Roy Boutique</span> <ion-text color="hapster">Rs: 4,500</ion-text></p>
      </ion-label>
    </ion-item>
    <ion-item routerLink="/details" routerDirection="forward">
      <ion-avatar slot="start">
        <ion-img src="assets/images/product8.png"></ion-img>
      </ion-avatar>
      <ion-icon slot="end" color="danger" name="heart"></ion-icon>
      <ion-label>
        <h5>Red Palazzo</h5>
        <p class="order-status"><span>Roy Boutique</span> <ion-text color="hapster">Rs: 2,500</ion-text></p>
      </ion-label>
    </ion-item>
    <ion-item routerLink="/details" routerDirection="forward">
      <ion-avatar slot="start">
        <ion-img src="assets/images/product8.png"></ion-img>
      </ion-avatar>
      <ion-icon slot="end" color="danger" name="heart"></ion-icon>
      <ion-label>
        <h5>Chilli Chicken</h5>
        <p class="order-status"><span>Food Corner</span> <ion-text color="hapster">Rs: 500</ion-text></p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
