<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
  		<ion-back-button></ion-back-button>
  	</ion-buttons>
    <ion-title>Booking Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="datetime">
    <ion-item (click)="showDate = !showDate">
      <ion-label>Booking Date</ion-label>
      <ion-text slot="end">{{formattedDate}}</ion-text>
      <ion-icon slot="start" name="calendar-outline"></ion-icon>
    </ion-item>
  </ion-card>
  <ion-datetime #datetime presentation="date" *ngIf="showDate" [value]="dataValue" (ionChange)="dateChanged(datetime.value)" showDefaultButtons="true" (ionCancel)="showDate = false;"></ion-datetime>
  <ion-card class="datetime">
    <ion-item (click)="showTime = !showTime">
      <ion-label>Boooking Time</ion-label>
      <ion-text slot="end">{{formattedTime}}</ion-text>
      <ion-icon slot="start" name="time-outline"></ion-icon>
    </ion-item>
  </ion-card>
  <ion-datetime #datetime presentation="time" *ngIf="showTime" [value]="timeValue" (ionChange)="timeChanged(datetime.value)" showDefaultButtons="true" (ionCancel)="showTime = false;"></ion-datetime>

  <ion-card>
    <ion-item class="unit">
      <ion-icon slot="start" name="person-add-outline"></ion-icon>
      <ion-label position="fixed">Booking For</ion-label>
      <ion-input type="number"></ion-input>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-card-header>Summary</ion-card-header>
    <ion-card-content>
      <p>Price <span>Rs 300</span></p>
      <p>Tax <span>Rs 20</span></p>
      <h5>Total Payment <span>Rs 370</span></h5>
    </ion-card-content>
    <div class="ion-footer">
      See Details <ion-icon name="chevron-forward"></ion-icon>
    </div>
  </ion-card>
  <ion-card>
    <ion-card-header>Address</ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-avatar slot="start">
          <ion-img src="assets/icon/pin.png"></ion-img>
        </ion-avatar>
        <ion-label>
          <h5>Electronics Complex</h5>
          <p>EP Block, Sector V, Bidhannagar, Kolkata, West Bengal 700091</p>
          <ion-button routerLink="/address" routerDirection="forward">Change</ion-button>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>Payment</ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-avatar slot="start">
          <ion-img src="assets/icon/indian-rupee.png"></ion-img>
        </ion-avatar>
        <ion-label>
          <h5>Cash on delivery</h5>
          <p>Rs 370</p>
          <ion-button routerLink="/payment" routerDirection="forward">Change</ion-button>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" color="hapster" routerLink="/complete" routerDirection="forward">Place Order</ion-button>
  </ion-toolbar>
</ion-footer>